/* Utility classes */
.paragraph_container {
  max-width: var(--font-max-width);
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

/**********************************/
/********* Navigation Menu ********/
/**********************************/
.navigation-header-container {
  position: fixed;
  width: 100%;
  top: 0;
  transition: background 250ms ease-in;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
}

.navigation-header {
  width: 100%;
}

.navigation-header-logo-container {
  width: 70px;
}

.navigation-header-menu-icon:hover {
  cursor: pointer;
}

.navigation-header-item-container {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.navigation-header-nav {
  background-color: var(--neutral-light);
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}

.desktop__navigation-header-nav {
  display: none;
}

.navigation-header-nav-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 350ms ease-out;
}

.navigation-header-nav-items {
  font-family: var(--font-family-headers), sans-serif;
}

.nav-items-links {
  display: block;
  text-decoration: none;
  padding: var(--spacing-small);
  color: var(--neutral-dark);
  font-weight: var(--font-weight-semi-bold);
}

.nav-items-links:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* CSS actions */
.show_navigation-header-nav-container {
  border-top: 1px solid var(--neutral-grey);
  transition: max-height 450ms ease-in;
}

.add_navigation-header-container-color {
  background-color: var(--neutral-light);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

/*******************************/
/********* Hero Section ********/
/*******************************/
.hero__section {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  align-items: center;
}

.carousel {
  z-index: -999;
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel__track {
  width: 100%;
  margin: 0;
}

.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__slide {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  transition-delay: 400ms;
}

.carousel__slide--active {
  opacity: 1;
  transition-delay: 0ms;
}

.hero__section-info {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
}

.hero__section-title {
  font-weight: bold;
  text-align: center;
  font-size: var(--font-size-h1-mobile);
  margin-bottom: 16px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.hero__section-description {
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.2em;
  margin-bottom: 24px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.hero__section-description span {
  color: #ffc261;
}

.hero__section-button {
  padding: 5px 7px;
  border: 2px solid #ffc261;
  border-radius: 2px;

  line-height: 22px;
  letter-spacing: 0.11em;

  color: #ffc261;
  background-color: transparent;
}

.hero__section-button:hover {
  cursor: pointer;
  background-color: #ffc261;
  color: #252f3f;
}

.carousel__nav {
  z-index: -1;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  top: 96%;
}

.carousel__indicator {
  width: 30px;
  height: 6px;
  border: none;
  opacity: 0.5;
  border-radius: 0.5px;
  transition: opacity 200ms ease-in-out;
  transition-delay: 200ms;
}

.carousel__indicator:hover {
  cursor: pointer;
}

.carousel__nav--active {
  opacity: 1;
  background-color: #fff;
  transition-delay: 0ms;
}

/*******************************/
/********* Page Section ********/
/*******************************/
.page__section {
  scroll-margin-top: 64px;
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}

.page__section-header {
  color: var(--secondary-neutral);
  position: relative;
  font-weight: 900;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-left: 14px;
  margin-bottom: var(--spacing-large);
  z-index: -1;
}

.page__section-header::before {
  position: absolute;
  content: "";
  left: -14px;
  width: 6px;
  height: 100%;
  background-color: var(--primary-neutral);
}

/*******************************/
/**** Media Query - 770px ******/
/*******************************/
@media screen and (min-width: 770px) {
  /***************************************/
  /********* Nav Section ****************/
  /********  min-width: 770px ************/
  /***************************************/
  .navigation-header-menu-icon {
    display: none;
  }
  .navigation-header-nav-container {
    display: none;
  }

  .desktop__navigation-header-nav {
    display: block;
  }
  .desktop__navigation-header-nav ul {
    display: flex;
    flex-direction: row;
  }
  .nav-items-links {
    color: var(--neutral-light);
  }
  .nav-item-link-second-color {
    color: var(--neutral-dark) !important;
  }

  /***************************************/
  /********* Hero Section ****************/
  /********  min-width: 770px ************/
  /***************************************/
  .hero__section-title {
    font-size: var(--font-size-h1-770);
  }

  .carousel__indicator {
    width: 40px;
  }
}

/*******************************/
/**** Media Query - 1200px *****/
/*******************************/
@media screen and (min-width: 1200px) {
  /***************************************/
  /********* Hero Section ****************/
  /********  min-width: 1200px ***********/
  /***************************************/
  .hero__section-title {
    font-size: var(--font-size-h1-1200);
  }
}
