/* Navigation menu */
.navigation-header-container {
    position: fixed;
    width: 100%;
    top: 0;
    transition: background 250ms ease-in;
}

.navigation-header {
    z-index: 999;
    position: relative;
    width: 100%;
}

.navigation-header-logo-container {
    width: 70px;
}

.navigation-header-menu-icon:hover {
    cursor: pointer;
}

.navigation-header-item-container {
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.navigation-header-nav {
    background-color: var(--neutral-light);
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
}

.navigation-header-nav-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 350ms ease-out;
}

.navigation-header-nav-items {
    font-family: var(--font-family-headers), sans-serif;
}

.nav-items-links {
    display: block;
    text-decoration: none;
    padding: var(--spacing-small);
    color: var(--neutral-dark);
    font-weight: var(--font-weight-semi-bold);
}

.nav-items-links:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* CSS actions */
.show_navigation-header-nav-container {
    border-top: 1px solid var(--neutral-grey);
    transition: max-height 450ms ease-in;
}

.add_navigation-header-container-color {
    background-color: var(--neutral-light);
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

/* Utility classes */
.paragraph_container {
    max-width: var(--font-max-width);
}

.container {
    width: 100%;
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
}

/* Hero Section */
.hero-section {
    /* padding: 50vh 0px; */
    width: 100%;
    height: 100vh;
    background: url(/pages/construction/assets/images/J&L_hero-image.png);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}